JWKS_URI=
JWT_ISSUER=
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=smartloan
ADMIN_CLIENT_ID=
ADMIN_CLIENT_SECRET=
ADMIN_CLIENT_ROLE=
KEYCLOAK_BASE_URL=
KEYCLOAK_REALM=